[include]
	path = ~/.gitconfig.local
[user]
	name = axelhamil
	signingkey = ~/.ssh/id_github
[init]
	defaultBranch = main
[commit]
	gpgsign = true
	verbose = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[help]
	autocorrect = prompt
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
	algorithm = histogram
[color]
	ui = auto
[color "status"]
    added = green bold
    changed = magenta bold
    untracked = cyan bold

